<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Lista de Alunos</h1>
    </header>
    
    <form method="post">
        <label for="nome">Nome: </label> 
        <input id="nome" name="nome" type="text">
        <br>

        <label for="matricula">Matrícula: </label> 
        <input id="matricula" name="matricula" type="text">
        <br>

        <label for="telefone">Telefone: </label> 
        <input id="telefone" name="telefone" type=text>
        <br>

        <label for="email">E-mail: </label> 
        <input id="email" name="email" type="email">
        <br>
        
        <label for="dataCadastro">Data de Cadastro: </label> 
        <input id="dataCadastro" name="dataCadastro" type="date">
        <br>
        
        <input type="submit" value="Cadastrar">
    </form>
    <br>

</body>
</html>
